<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/jkxyshsflower?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="1234"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/jkxy/model/Flower.hbm.xml</value>
				<value>com/jkxy/model/Guashi.hbm.xml</value>
				<value>com/jkxy/model/Orderitem.hbm.xml</value>
				<value>com/jkxy/model/Orders.hbm.xml</value>
				<value>com/jkxy/model/Userdetail.hbm.xml</value>
				<value>com/jkxy/model/Catalog.hbm.xml</value>
				<value>com/jkxy/model/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!--catalog的配置  -->
	<bean id="catalogDAO" class="com.jkxy.dao.impl.CatalogDAO">
		<property name="sessionfactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="catalogService" class="com.jkxy.service.impl.CatalogService">
		<property name="catalogDAO" ref="catalogDAO"></property>
	</bean>
	
	<!--flower的配置  -->
	<bean id="flowerDao" class="com.jkxy.dao.impl.FlowerDao">
		<property name="sessionfactory">
		<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="flowerService" class="com.jkxy.service.impl.FlowerService">
		<property name="flowerDao" ref="flowerDao"></property>
	</bean>
	
	<bean id="flowerAction" class="com.jkxy.action.flowerAction">
		<property name="catalogService" ref="catalogService"></property>
		<property name="flowerService" ref="flowerService"></property>
	</bean>
	
	<!-- user的配置 -->
	<bean id="userDao" class="com.jkxy.dao.impl.UserDao">
		<property name="sessionfactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="userService" class="com.jkxy.service.impl.UserService">
		<property name="userDao" ref="userDao"> </property>
	</bean>
	<bean id="userAction" class="com.jkxy.action.userAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<!--cart的配置  -->
	<bean id="shoppingAction" class="com.jkxy.action.shoppingAction">
		<property name="flowerService" ref="flowerService"></property>
	</bean>
	<!--订单的提交  -->
	<bean id="saveOrder" class="com.jkxy.dao.impl.SaveOrder">
		<property name="sessionfactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="saveService" class="com.jkxy.service.impl.SaveOrderService">
		<property name="saveOrderDao" ref="saveOrder"></property>
	</bean>
	<bean name="checkAction" class="com.jkxy.action.orderAction">
		<property name="saveOrderService" ref="saveService"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>